html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    
}


.Container {
    background-color: rgba(126, 86, 57, 0.616);
    background-size: cover;
    height: 100vh;
    padding: 30px;
    
}

.img1 {
    width: 40px;
    height: fit-content;
    padding: 15px;
}

.img2 {
    width: 43px;
    height: fit-content;
    padding: 15px;
}

.content1 {
    padding: 0;
    margin: 0;
    height: 100px;
    color: rgba(255, 255, 0, 0.863);
    font-size: 40px;
    display: flex;
    align-content: center;
    align-items: center;
    

}

.VS  {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-family: cursive;
    align-items: center;
    color: red;
    
}



.reset{
    display: flex;
    flex-direction: column;
    align-items: center;
   
        
}


.PLAYER1 {
    margin: 30px;
    margin-left: 300px;
    height: 20px;
    font-size: 30px;
    padding: 10px;
    display: flex;  
    flex-direction: column;
  
       
}

.PLAYER1 img {
    margin-bottom: 50px;
}

.COM img {
    margin-bottom: 50px;
}
.COM {
    margin: 30px;
    margin-top: 10px;
    margin-right: 300px;
    height: 20px;
    font-size: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
   
}

.COM h3 {
    margin-left: 35px;
}

.box {
    border-radius: 20px;
    width: 130px;
    height: 130px;
    padding-top: 20px;
    padding-left: 35px;
    margin-bottom: 20px;
}
.box .batu {
    padding-right: 30px;
}
.hand img {
    width: 90px;
    height: 90px;
   
}

.batu img{
    width: 105px;
    height: 105px;
   
}

.reset {
    display: flex;
    flex-direction: column;

}



   
    
    
   
    



